$font-weight: bolder;
$font-color: white;
$font-size:30px;
$button-color: rgb(222, 160, 16);
$background-color:rgb(222, 160, 16);
$bg-color: rgb(233, 236, 239);
$shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);






